@model CreateTransactionViewModel


@{
    this.ViewData["Title"] = "Speed Pay - Quick and Trustworthy Money Transfers ";
    var currencies = JsonSerializer.Deserialize<List<Currency>>(TempData.Peek("Currencies").ToString());
       
}

<head>
    <link rel="stylesheet" type="text/css" href="~/vendor/currency-flags/css/currency-flags.min.css" />
</head>

<!-- Secondary menu
============================================= -->
<div class="bg-primary">
    <div class="container d-flex justify-content-center">
        <ul class="nav nav-pills alternate nav-lg border-bottom-0">
            <li class="nav-item"> <a class="nav-link active" href="send-money.html">Send</a></li>

        </ul>
    </div>
</div>
<!-- Secondary menu end -->
<!-- Content
============================================= -->
<div id="content" class="py-4">
    <div class="container">

        <!-- Steps Progress bar -->
        <div class="row mt-4 mb-5">
            <div class="col-lg-11 mx-auto">
                <div class="row widget-steps">
                    <div class="col-4 step active">
                        <div class="step-name">Details</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                    <div class="col-4 step disabled">
                        <div class="step-name">Confirm</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                    <div class="col-4 step disabled">
                        <div class="step-name">Success</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="fw-400 text-center mt-3">Send Money</h2>
        <p class="lead text-center mb-4">Send your money on anytime, anywhere in the world.</p>
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="bg-white shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">
                    <h3 class="text-5 fw-400 mb-3 mb-sm-4">Personal Details</h3>
                    <hr class="mx-n3 mx-sm-n5 mb-4">
                    <!-- Send Money Form
                    ============================ -->
                    <form asp-controller="Transaction" asp-action="Create" id="form-send-money" method="post">
                        <div class="mb-3">
                            <label for="emailID" class="form-label">Recipient</label>
                            <input asp-for="CreateTransactionDto.RecipientUsername" type="text" required  class="form-control" data-bv-field="emailid" id="emailID" required placeholder="">
                            <span asp-validation-for="CreateTransactionDto.RecipientUsername" class="error-message"></span>
                        </div>
                        <div class="mb-3">
                            <label for="youSend" class="form-label">You Send</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input asp-for="CreateTransactionDto.Amount" type="text" class="form-control" required data-bv-field="youSend" id="youSend" value="" placeholder="">
                                <span class="input-group-text p-0">
                                    <select asp-for="CreateTransactionDto.CurrencyCode" id="youSendCurrency" data-style="form-select bg-transparent border-0" data-container="body" data-live-search="true" class="selectpicker form-control bg-transparent" required="">
                                        <optgroup label="Popular Currency">
                                            @foreach (var currency in currencies)
                                            {

                                                <option data-icon="currency-flag currency-flag-inr me-1" data-subtext="@currency.Name " value="@currency.CurrencyCode">@currency.CurrencyCode</option>

                                            }
                                        </optgroup>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <span asp-validation-for="CreateTransactionDto.Amount" class="error-message"></span>
                        <div class="mb-4 mb-sm-5">
                            <label for="description" class="form-label">Description</label>
                            <textarea asp-for="CreateTransactionDto.Description" class="form-control" rows="4" id="description" required placeholder="Payment Description"></textarea>
                            <span asp-validation-for="CreateTransactionDto.Description" class=" error-message"></span>
                        </div>
                        <div class="d-grid"><button type="submit" class="btn btn-primary">Continue</button></div>
                    </form>
                    <!-- Send Money Form end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content end -->
<link rel="stylesheet" type="text/css" href="~/vendor/currency-flags/css/currency-flags.min.css" />


