@model CreateUserModel

@{
    this.ViewData["Title"] = "Speed Pay - Registration";
    var currencies = JsonSerializer.Deserialize<List<Currency>>(TempData.Peek("Currencies").ToString());
}

<!-- Content
 ============================================= -->
<div id="content">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
                <div class="bg-white shadow-md rounded p-3 pt-sm-4 pb-sm-5 px-sm-5">
                    <h3 class="fw-400 text-center mb-4">Sign Up</h3>
                    <hr class="mx-n3 mx-sm-n5">
                    <p class="lead text-center">Your information is safe with us.</p>
                    <form asp-controller="Account" asp-action="Register" method="post">
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Username</label>
                            <input asp-for="Username" type="text" class="form-control" required placeholder="Enter Your Username">
                            <span asp-validation-for="Username" class="form-error text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email Address</label>
                            <input asp-for="Email" type="email" class="form-control" required placeholder="Enter Your Email">
                            <span asp-validation-for="Email" class="form-error text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input asp-for="Password" type="password" class="form-control" required placeholder="Enter Password">
                            <span asp-validation-for="Password" class="form-error text-danger"></span>
                        </div>
                         <div class="mb-3">
                            <label asp-for="PhoneNumber" class="form-label">Phone number</label>
                            <input asp-for="PhoneNumber" type="number" class="form-control" required placeholder="Enter Phone Number">
                            <span asp-validation-for="PhoneNumber" class="form-error text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CurrencyCode" class="form-label">Currency</label>
                            <select asp-for="CurrencyCode" id="youSendCurrency" data-style="form-select bg-transparent border-0" data-container="body" data-live-search="true" class="selectpicker form-control bg-transparent" required="">
                                <optgroup label="Popular Currency">
                                    @foreach (var currency in currencies)
                                    {

                                        <option data-icon="currency-flag currency-flag-inr me-1" data-subtext="@currency.Name " value="@currency.CurrencyCode">@currency.CurrencyCode @currency.Name</option>

                                    }
                                </optgroup>
                            </select>
                            
                            
                            <span asp-validation-for="CurrencyCode" class="form-error text-danger"></span>
                        </div>
                        <div class="d-grid mt-4 mb-3"><button class="btn btn-primary" type="submit">Sign Up</button></div>
                    </form>
                    <p class="text-3 text-muted text-center mb-0">Already have an account? <a class="btn-link" asp-controller="Account" asp-action="Register">Log In</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content end --> 