@using Business.Services.Helpers;
@{
    this.ViewData["Title"] = "Speed Pay - Quick and Trustworthy Money Transfers ";
}

<h2 class="fw-400 text-center mt-3 mb-4">Confirm registration</h2>
<div class="row">
    <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
        <!-- Successful Registration
        ============================================= -->
        <div class="bg-white text-center shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">
            <div class="my-4">
                <p class="text-success text-20 lh-1"><i class="fas fa-check-circle"></i></p>
                <p class="text-success text-8 fw-500 lh-1">Confirmation Email sent successfully!</p>
            </div>
            <p class="text-3 mb-4">@Constants.SuccessfullConfirmationEmailSentMessage</p>
            <div class="d-grid">
                <a asp-controller="Account" asp-action="Login" class="btn btn-primary" >LOGIN</a>
            </div>
        </div>
    </div>
</div>