<!-- Content
============================================= -->
<div id="content" class="py-4">
    <div class="container">
        <h2 class="fw-400 text-center mt-3 mb-4">Delete User</h2>
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <!-- Send Money Success
                ============================================= -->
                <div class="bg-white text-center shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">
                    <div class="my-4">
                        <p class="text-success text-20 lh-1"><i class="fas fa-trash"></i></p>
                        <p class="text-success text-8 fw-500 lh-1">Success!</p>
                        <p class="lead">Deleted User</p>
                    </div>
                    <p class="text-3 mb-4">
                        The user has been successfully deleted.

                        If you have any questions or concerns, please feel free to contact our support team for assistance.

                        Thank you.
                    </p>

                    </p>
                    <div class="d-grid"><a class="btn btn-primary" asp-controller="User" asp-action="Index">Go Back</a></div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content end -->
